<header class="header">
    <div class="header-logo">
      <img src="./assets/header/Logo.svg" alt="logo" />
    </div>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item"><a href="#">Contact</a></li>
        <li class="header-nav__item"><a href="#">Testimonials</a></li>
        <li class="header-nav__item"><a href="#">About</a></li>
        <li class="header-nav__item"><a href="#">Terms</a></li>
      </ul>
    </nav>
    <div class="header-search">
      <img src="./assets/header/Search.png" alt="search_icon" />
    </div>
</header>
