<footer class="footer">
    <div class="footer__top">
      <div class="footer__logo"><img src="/src/assets/footer/footer_logo.svg" alt="" /></div>
      <div class="footer__links">
        <ul class="footer__list">
          <li class="footer__list-item">Product</li>
          <li class="footer__list-item">Overview</li>
          <li class="footer__list-item">Features</li>
          <li class="footer__list-item">Tutorials</li>
          <li class="footer__list-item">Pricing</li>
          <li class="footer__list-item">Releases</li>
        </ul>
        <ul class="footer__list">
          <li class="footer__list-item">Company</li>
          <li class="footer__list-item">About</li>
          <li class="footer__list-item">Press</li>
          <li class="footer__list-item">Careers</li>
          <li class="footer__list-item">Contact</li>
          <li class="footer__list-item">Partners</li>
        </ul>
        <ul class="footer__list">
          <li class="footer__list-item">Support</li>
          <li class="footer__list-item">Help Center</li>
          <li class="footer__list-item">Terms of Service</li>
          <li class="footer__list-item">Legal</li>
          <li class="footer__list-item">Privacy Policy</li>
          <li class="footer__list-item">Status</li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">© 2021 Lawliet. All rights reserved</div>
      <div class="footer__social">
        <img class="footer__social-icon" src="./assets/footer/instagram.svg" alt="" />
        <img class="footer__social-icon" src="./assets/footer/www.svg" alt="" />
        <img class="footer__social-icon" src="./assets/footer/twitter.svg" alt="" />
        <img class="footer__social-icon" src="./assets/footer/youtube.svg" alt="" />
      </div>
    </div>
</footer>
  