<section class="hero-section">
    <div class="hero-section__content">
      <h1 class="hero-section__title">Your Solution <br>Legal Consultancy</h1>
      <p class="hero-section__description">We are here to help you take care of your legal needs with the best service, specifically tailored for you.</p>
      <button class="hero-section__button">GET STARTED</button>
    </div>
    <div class="hero-section__image">
      <img src="../../assets/hero/hero_image.png" alt="A woman representing legal consultancy" />
    </div>
</section>