<section class="legal-services">
    <div class="legal-services__description">
      <h3 class="legal-services__title">Why We Help with Legalization?</h3>
      <p class="legal-services__text">
        We assist UMKM in Indonesia with the complicated process of legalization.
      </p>
    </div>
    <div class="legal-services__grid">
      <div class="legal-services__item">
        <img src="./assets/why/why_image_1.svg" alt="Environmental Law" />
        <h3 class="legal-services__item-title">Environmental Law</h3>
        <p class="legal-services__item-text">
          Legal issues may arise due to planned business activities.
        </p>
      </div>
      <div class="legal-services__item">
        <img src="./assets/why/why_image_2.svg" alt="Corporate and Commercial" />
        <h3 class="legal-services__item-title">Corporate and Commercial</h3>
        <p class="legal-services__item-text">
          We offer a complete range of services for business continuity.
        </p>
      </div>
      <div class="legal-services__item">
        <img src="./assets/why/why_image_3.svg" alt="Information and Technology" />
        <h3 class="legal-services__item-title">Information and Technology</h3>
        <p class="legal-services__item-text">
          Lack of compliance with existing regulations can cause legal and business uncertainty.
        </p>
      </div>
      <div class="legal-services__item">
        <img src="./assets/why/why_image_4.svg" alt="Other Services" />
        <h3 class="legal-services__item-title">Other Services</h3>
        <p class="legal-services__item-text">
          Our firm provides various legal services to deal with disruptive economic and legal challenges.
        </p>
      </div>
    </div>
</section>
  