<section class="question-section">
    <div class="question-section__left">
      <h2 class="question-section__title">Do You Have Complex Legal Questions?</h2>
      <p class="question-section__description">
        Request a personalized budget for your legal problem. We will send you a few options in 24 hours. As our first customer, you are eligible for a free consultation.
      </p>
      <button class="question-section__button">
        <img src="./assets/cta/cta_image_1.svg" alt="phone icon"/> 
        <span class="question-section__button-text"> Call Now </span>
      </button>
    </div>
    <div class="question-section__right">
      <img src="./assets/cta/cta_image_2.svg" alt="man image"/>
    </div>
  </section>