<section class="count-section">
    <h2 class="count-section__title">Some count that matters</h2>
    <p class="count-section__subtitle">Our achievement in the journey depicted in numbers</p>
    <ul class="count-section__list">
      <li class="count-section__item">
        <div class="count-section__number">30</div>
        <div class="count-section__description">clients</div>
      </li>
      <li class="count-section__item">
        <div class="count-section__number">300+</div>
        <div class="count-section__description">Taken business legalities</div>
      </li>
      <li class="count-section__item">
        <div class="count-section__number">8</div>
        <div class="count-section__description">Years of Journey</div>
      </li>
    </ul>
</section>